name: iso_countries
description: A plugin for fetching ISOCountries data from device OS. Name of countries can be obtained in different languages.
version: 2.1.0
homepage: https://github.com/anoop4real/flutter_iso_countries
repository: https://github.com/anoop4real/flutter_iso_countries

environment:
  sdk: ">=2.12.0 <3.0.0"
  # Flutter versions prior to 1.12 did not support the
  # flutter.plugin.platforms map.
  flutter: ">=1.12.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.anoop4real.iso_countries
        pluginClass: IsoCountriesPlugin
      ios:
        pluginClass: IsoCountriesPlugin
